/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.post-picker-container {
	max-width: 1200px;
	margin: 0 auto;

	&--input-wrapper {
		position: relative;
	}

	&--results {
		button {
			align-items: center;
			background-color: #efefef;
			border: 1px solid #dddddd;
			border-radius: 5px;
			display: flex;
			height: auto !important;
			margin-bottom: 5px;
			padding-block: 10px;
			width: 100%;
			justify-content: left;

			&.selected {
				background-color: var(--wp--preset--color--vivid-cyan-blue, #0693e3);

				* {
					color: #ffffff !important;
				}

				&:hover {
					background-color: var(--wp--preset--color--vivid-cyan-blue, #0693e3) !important;
				}
			}

			&:active,
			&:focus,
			&:hover {
				box-shadow: none !important;
				outline: none;
			}

			div.info {
				display: flex;
				flex-direction: column;
				flex: 1;
				font-size: 14px;
				font-weight: normal;
				max-width: 90%;
				padding-right: 15px;
				text-align: left;
			}

			div .title {
				display: block;
				padding-block-end: 5px;
			}

			div .date {
				color: var(--wp--preset--color--accent-4, #686868);
				font-size: 12px;
				font-weight: normal;
			}
		}
	}

	&--pager {
		background-color: var(--wp--preset--color--contrast, #111111);
		border-radius: 50px;
		color: var(--wp--preset--color--white, #ffffff);
		display: flex;
		align-items: center;
		justify-content: space-between;

		button {
			color: var(--wp--preset--color--white, #ffffff);
			height: 30px;
			margin-inline: 10px;
			padding-block: 0;

			&:hover {
				color: var(--wp--preset--color--vivid-cyan-blue, #0693e3) !important;
			}

			&:disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}

	&--loader {
		position: absolute !important;
		right: 5px;
		top: 26px;
	}

	&--not-found {
		color: var(--wp--preset--color--vivid-red, #cf2e2e);
	}
}

[data-type="block/post-picker"] {
	.none {
		background-color: var(--wp--preset--color--black, #000000);
		border-radius: 3px;
		box-sizing: border-box;
		color: var(--wp--preset--color--white, #ffffff);
		display: inline-block;
		font-size: var(--wp--preset--font-size--medium, 13px);
		padding: 7px 10px;
		text-align: center;
		width: 100%;
	}
}
