/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.dmg-read-more-block {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px 10px;
}